/* CSS declarations go here */
button{
    width:100%;
    height:100%;
    text-align: center;
}
@media (min-width: @screen-sm-min) { ... }

.external{
    border: 1px solid gray;
    width: 50%;
    margin: auto;
}
.clicked{
    text-align: center;
    line-height:50px;
    font-size: 40px;
    width:100%;
    margin:auto;
}
.row {
    width: 99%;
    margin:auto;
}
.square {
    float:left;
    position: relative;
    width: 10%;
    padding-bottom : 10%; /* = width for a 1:1 aspect ratio */
    margin:0px;
    background-color:#FFFFFF;
    overflow:hidden;
}
.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    /*padding: 5%;*/

}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}
