/* CSS declarations go here */
.navbar-right li a{
    width: 33%;
    display: block;
    float: left;
    text-align: center;
}
.btn-number{
    text-align: center;
    font-size: 40px;
    width:100%;
    margin:auto;
}
.row {
    width: 99%;
    margin:auto;
}
.square {
    float:left;
    position: relative;
    width: 10%;
    padding-bottom : 10%; /* = width for a 1:1 aspect ratio */
    margin:0px;
    background-color:#FFFFFF;
    overflow:hidden;
}
.square button.btn{
    width:100%;
    height:100%;
    text-align: center;
    margin:1px;
    padding: 0px;
}
.content {
    position:absolute;
    height:100%;
    width:100%;
}
.table{
    display:table;
    width:98%;
    height:98%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}

@media only all and (max-width : 768px) {
    .btn-number {
        font-size: 20px;
    }
    .content-wrapper {
        width: 90%;
    }
}
@media only all and (max-width : 600px) {
    .content-wrapper {
        width: 98%;
    }
    .btn-number {
        font-size: 14px;
    }
}
@media only all and (orientation:landscape){
    .content-wrapper {
        width: 55%;
        margin:auto;
    }
}
