<template name="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#mobile-collapsing-menu"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'game'}}">99 game</a>
        </div >
        <div class="collapse navbar-collapse" id="mobile-collapsing-menu">
            <div class="nav pull-right">
                {{> atNavButton}}
            </div>
        </div>
    </div>
</div>
</template>
